* {
  font-family: Arial;
  background-color: #e8f1f2;
  margin: 0;
}
body {
  padding-top: 80px; /* Altura do menu */
}
p,
h4,
h1 {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
#images,
#sobre,
.title-page,
#obras,
.container-footer,
.container {
  margin-left: 15%;
  margin-right: 15%;
}
.bg-black {
  background-color: #000;
}
.bg-white {
  background-color: #fff;
}
.bg-sapphire-blue {
  background-color: #006494;
  color: #fff;
}
.bg-calandon-blue {
  background-color: #247ba0;
  color: #fff;
}
.bg-carolina-blue {
  background-color: #1b98e0;
  color: #fff;
}
.mg-t-100 {
  margin-top: 100px;
}
.mg-t-50 {
  margin-top: 50px;
}
/*MENU*/
header {
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: #13293d;
  width: 100%;
  position: fixed; /*importante para deixar o menu fixo*/
  top: 0; /*importante para deixar o menu fixo*/
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #13293d;
  width: 100%;
}
.logo,
.logo b {
  background-color: #13293d;
  font-size: 20px;
  text-align: center;
  color: #e8f1f2;
}
.menu {
  display: flex;
  align-items: center;
  background-color: #13293d;
}
nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #13293d;
}
nav ul {
  display: flex;
}
nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  background-color: #13293d;
  border-radius: 24px;
  transition: 0.5s;
  margin: 2px;
}
nav a:hover {
  background-color: #fff;
  color: #13293d;
}
nav {
  background-color: #13293d;
}
.menuMobile {
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
  background-color: #13293d;
}
.mm_line {
  height: 3px;
  background-color: #ffffff;
}
/*TITLE*/
.title-page {
  text-align: center;
}
/*SECTION images*/
#images img {
  border-radius: 20px;
}
#images {
  display: flex;
  justify-content: center;
  height: 670px;
}
.i_left,
.i_rigth {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.i_director {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.i_products {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.i_products img {
  width: 200px;
  height: 200px;
}
.img-thomas {
  border-radius: 20px;
}
.sobre-text {
  text-align: justify;
  font-size: 18px;
  padding-bottom: 20px;
}
/*tesla*/
.container-tesla {
  display: flex;
  align-items: center;
}
.n-tesla {
  margin-top: 15px;
  margin-left: 20px;
  text-align: center;
  padding: 5px;
}
.text-tesla {
  padding-left: 20px;
  padding-right: 40px;
}
.img-n-tesla {
  width: 150px;
}
.sobre-text h1,
h4,
p,
div,
b,
.container-tesla {
  background-color: #247ba0;
}
.sobre-text p {
  background-color: #247ba0;
}
.n-tesla figcaption {
  color: #000;
}

/*Obras*/
.container-obras {
  padding-bottom: 20px;
}
.container-obras h2 {
  padding-top: 15px;
  margin-left: 20px;
}
.c-i-1 {
  margin-top: 15px;
  margin-left: 20px;
  text-align: center;
  padding: 5px;
}
.img-c-i {
  width: 200px;
  border-radius: 20px;
}
.container-ivencao {
  display: flex;
  align-items: center;
}
#obras h2,
div,
p {
  background-color: #1b98e0;
}
#obras h2{
    color: #fff;
}
.text-i {
  text-align: justify;
  color: #fff;
  font-size: 18px;
}
/*Footer*/
#footerId .container-footer,
.autoria,
.font,
.redes {
  background-color: #13293d !important;
}
#footerId {
  height: 80px;
  background-color: #13293d !important;
}
.container-footer {
  height: inherit;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.font,
.font a {
  text-decoration: none;
  background-color: #13293d !important;
  color: #fff;
  font-size: 15px;
}
.redes,
.redes div {
  display: flex;
  align-items: center;
  background-color: inherit;
}
.redes img,
.redes a,
.redes {
  background-color: inherit;
  padding: 5px;
  color: #fff;
  font-size: 15px;
  text-align: center;
}
.autoria {
  color: #fff;
  font-size: 15px;
}
@media (max-width: 904px) {
  /*marges*/
  .title-page,
  .container,
  #images,
  #sobre, 
  #obras,
  .container-footer,
  .text-tesla {
    margin-left: 20px;
    margin-right: 20px;
  }
  /*menu*/
  header {
    height: auto;
  }
  .logo b {
    font-size: 14px;
  }
  .menuMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around; /*pega todo o espaço que sobrar na linha e distribui igualmente entre os elementos, deixando o spaço igual em toda a linha*/
  }
  nav ul {
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #ffffff;
  }
  /*title*/
  .title-page h1 {
    font-size: 20px;
  }
  #images {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
  }
  .i_left,
  .i_rigth {
    display: none;
  }
  .i_director {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    text-align: center;
  }
  .img-thomas {
    border-radius: 20px;
    width: 250px;
  }
  .sobre-text {
    text-align: justify;
    font-size: 14px;
    padding-bottom: 20px;
  }
  .c-i-1 {
    margin-top: 20px;
    margin-left: 0px;
    text-align: center;
    padding: 5px;
  }
  .img-c-i {
    width: 200px;
    border-radius: 20px;
  }
  .container-ivencao {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .c-i-1 figcaption{
    font-size: 14px;
  }
  #obras h2{
    font-size: 20px;
    text-align: center;
  }
  .text-i {
    text-align: justify;
    color: #fff;
    font-size: 14px;
  }
  /*tesla*/
.container-tesla {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .n-tesla {
    margin-left: 0px;
  }
  .text-tesla {
    padding-left: 0px;
    padding-right: 0px;
  }
  .img-n-tesla {
    width: 100px;
  }
  /*Footer*/
  .container-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
  }
  .font a, .font, .redes, .autoria {
    font-size: 14px;
  }
  #footerId{
    height: auto;
  }
  .redes img{
    width: 20px;
  }
  .redes, .autoria,.font{
    text-align: center;
  }
}
